#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SPECIAL 1

/ {
    keymap{
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &kp MINUS   &kp EQUAL   &kp BSPC   &kp INS  
                &kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp LBKT   &kp RBKT   &kp BSLH   &kp DEL
                &kp CAPS     &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp SEMI   &kp SQT      &kp ENTER       &kp PG_UP
                &kp LSHFT      &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA   &kp DOT   &kp SLASH      &kp RSHFT      &kp UP   &kp PG_DN  
                &kp LCTRL   &kp LGUI   &kp LALT                   &kp SPACE                   &kp RALT      &mo SPECIAL                  &kp LEFT   &kp DOWN   &kp RIGHT  
            >;
        };

        special_layer {
            bindings = <
                &kp GRAVE   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &kp F11   &kp F12   &bt BT_CLR   &bootloader 
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &out OUT_TOG &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none  
                &none &none &none &none &none &none &none &none &none  
            >;
        };
    };
};
